---
import { Image } from "astro:assets";
import background from "@/assets/background.png";

type Props = {
  title: string;
  description: string;
  image: ImageMetadata;
  alt: string;
  switchSide?: boolean;
};

const { title, description, image, alt, switchSide = false } = Astro.props;
---

<div
  class="grid grid-cols-6 gap-4 bg-neutral-100 p-4 border border-neutral-200 rounded-2xl"
>
  <div
    class={`col-span-2 flex flex-col gap-1 h-full justify-center ${switchSide ? "order-2" : "order-1"}`}
  >
    <h2>{title}</h2>
    <p class="max-w-96">{description}</p>
  </div>

  <div
    class={`col-span-4 w-full aspect-video bg-neutral-200/32 ${switchSide ? "order-1" : "order-2"}`}
  >
    <div
      class="relative rounded-lg overflow-hidden px-24 pt-24 w-full h-[600px]"
    >
      <Image
        src={background}
        alt="Sky with clouds background image."
        class="absolute inset-0 w-full h-full object-cover"
      />

      <Image
        src={image}
        alt={alt}
        class="relative w-full h-auto rounded-lg z-10"
      />
    </div>
  </div>
</div>
