---
import pullImage from "@/assets/features/pull-image.png";
import events from "@/assets/features/events.png";
import architecture from "@/assets/features/architecture.png";
import Feature from "@/components/home/feature.astro";
import Container from "@/components/layout/container.astro";

const features = [
  {
    id: 0,
    title: "Containers & image",
    description:
      "Manage containers and images from a clean UI, without relying on the CLI.",
    image: pullImage,
    alt: "Image pull dialog with form.",
    switchSide: false,
  },
  {
    id: 1,
    title: "Real-time events, logs & metrics",
    description:
      "See activity and performance instantly with live events, logs, and metrics.",
    image: events,
    alt: "Card with logs and chart.",
    switchSide: true,
  },
  {
    id: 2,
    title: "Distributed agent architecture",
    description:
      "Lightweight agents stream container data from all nodes, giving you a unified, consistent view.",
    image: architecture,
    alt: "Nodes with agents card.",
    switchSide: false,
  },
];
---

<Container class="flex flex-col gap-5 py-64">
  <h1>features</h1>

  <div class="flex flex-col gap-32">
    {
  features.map(feature => (
    <Feature title={feature.title} description={feature.description} image={feature.image} alt={feature.alt} switchSide={feature.switchSide}/>
  ))
  }
  </div>
</Container>
